<div>
  <mat-spinner *ngIf="loading"></mat-spinner>
<mat-card class="example-card" *ngIf="!loading">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title><h3>{{jeu.id}}</h3></mat-card-title>
    <mat-card-subtitle>{{jeu.nom}}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p>Description :  {{jeu.description}} </p>

    <p>Age minimum :  {{jeu.age_min}} </p>
    <p>Langues :  {{jeu.langue}} </p>

    <p>Joueurs Minimums : {{jeu.nombre_joueurs_min}}</p>
    <p>Joueurs Maximum: {{ jeu.nombre_joueurs_max }} </p>
    <p>Durée : {{jeu.duree_partie}} </p>


  </mat-card-content>
</mat-card>
</div>
