<div>
<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title><h3>{{jeux.id}}</h3></mat-card-title>
    <mat-card-subtitle>{{jeux.nom}}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p>Description :  {{jeux.description}} </p>

    <p>Age minimum :  {{jeux.age_min}} </p>
    <p>Langues :  {{jeux.langue}} </p>

    <p>Joueurs Minimums : {{jeux.nombre_joueurs_min}}</p>
    <p>Joueurs Maximum: {{ jeux.nombre_joueurs_max }} </p>
    <p>Durée : {{jeux.duree_partie}} </p>


  </mat-card-content>
</mat-card>
</div>
