<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <title>A propos</title>
</head>
<body>
<div>
  <h1>A propos de nous !</h1>
</div>
<div>
  <p>Vous savez, moi je ne crois pas qu’il y ait de bonne ou de mauvaise situation. Moi, si je devais résumer ma vie aujourd’hui avec vous, je dirais que c’est d’abord des rencontres. Par exemple vous qui corrigez. Merci d'être professeur et de donner de votre temps pour permettre aux autres d'apprendre. Passez une merveilleuse journée !! </p>
</div>

</body>
</html>
