<body>

</body>
<footer id="footer">
  <div>
    <p> siège social : {{siegeEntreprise}} </p>
  </div>

  <div>
    <mat-list>
      <mat-list-item><a mat-button href="{{twitter}}">Twitter</a></mat-list-item>
      <mat-list-item><a mat-button href="{{linkedin}}">LinkedIn</a></mat-list-item>
      <mat-list-item><a mat-button href="{{gitLab}}">GitLab</a></mat-list-item>
    </mat-list>
  </div>

  <div>
    <mat-list>
      <mat-list-item><a mat-button href="/apropos">A propos</a></mat-list-item>
      <mat-list-item><a mat-button href="/contact">Contactez-nous !</a></mat-list-item>
    </mat-list>
  </div>

</footer>



